<%# ---------INDEX DE MOVIES------------- %>
<div class="container">

  <h1>Movies#index</h1>
  <p>Find me in app/views/movies/index.html.erb</p>

  <%# J'applique la classe cards pour appliquer une grid %>
  
  <div class="cards">

    <% @movies.each do |movie| %>

    <div class="card m-3" style="width: 30vw;" >
      <img class="card-img-top" src="<%=movie.poster_url %>"
 alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between"><%= movie.title %>
          <div class="text-muted">
          <%= movie.rating %>
          <i class="fa-solid fa-star" style="color: #fff700;">
          </i>
          </div>
        </h5>
        <p class="text-muted"><%= movie.overview %></p>
        <p class="card-text d-flex">
        <small class="text-muted">Created on <%= movie.created_at.to_date %>
        </small>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
